@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 89%;
  }
  .button {
    border-radius: 5px;
    background-color: #ffd200;
    border: none;
    padding: 18px 28px;
    font-size: 13px;
    font-weight: 700;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 28px;
  font-size: 13px;
  font-weight: 700;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar-info__button {
  border-radius: 10px;
  border: none;
  background-color: #ffd200;
  font-size: 10px;
  padding: 18px 28px;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar-info__button_left {
  margin-left: 30px;
}

.navbar-contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar-contacts__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar-contacts {
    display: none;
  }
  .navbar-info__button {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 14px 25px;
    border-radius: 5px;
    margin-right: 18px;
    margin-bottom: 4px;
  }
  .navbar-logo {
    width: 90px;
  }
}

/*Импорт для внутренней отделки помещения*/
.hero {
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 65px;
  margin-top: -2px;
  margin-bottom: 62px;
  margin-left: 4px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-image {
  width: 49%;
}

.hero-list {
  margin: 0;
  padding: 0;
  margin-top: -12px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  min-width: 37px;
  height: 37px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__image img {
  width: auto;
}

.hero-list__text {
  max-width: 245px;
  font-size: 14px;
  line-height: 1.7em;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 37px;
    margin-top: 0;
  }
  .hero-text {
    padding-right: 5px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 29px 4px;
  }
  .hero-image {
    width: 94%;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 8px;
    margin-top: 21px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.3;
    margin-top: 2px;
  }
  .hero-list {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 13px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.4em;
  }
}
/*# sourceMappingURL=style.css.map */